.head{
    height: 100px;
    width: 100%;
    background-color: #6B6FAE;
    color: white;

    padding-left: 50px;
    padding-top: 20px;

    font-size: 50px;
    font-weight: 600;
}
.title{
    display: flex;
    padding-top: 50px;
    margin-bottom: 10px;
}
.title > button {
    background: none;
    border: none;
    color: #6B6FAE;;
    cursor: pointer;
  }
.jsblock{
    height: 370px;
    padding: 0 10%;
}
.h2_title{
    font-size: 35px;
    margin-right: 20px;
}
.imgs{
    display: grid;
    grid-template-columns: 0.2fr 3fr 0.2fr;
    grid-gap: 50px;
    align-items: center;
    max-width: 100%;
    width: auto !important;
    height: auto !important;
}
.imgbox{
    display: grid;
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.imgintro{
    display: grid;
    grid-template-rows: 2fr 0.5fr;
    grid-gap: 20px;
}
.icon{
    height: 250px;
    max-width: 100%;
    width: auto !important;
    height: auto !important;
}
.jsimg{
    height: 270px;
    max-width: 100%;
    width: auto !important;
    height: auto !important;
}
.rblock{
    height: 370px;
    padding: 0 10%;
}

@media (max-width: 1023px){
    .h2_title{
        font-size: 30px;
    }
    .jsblock{
        height: 300px;
    }
    .imgbox{
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 0fr;
    }
    .imgs{
        grid-gap: 10px;
    }
    .rblock{
        height: 250px;
    }
}
@media (max-width: 767px){
    /*.imgintro{
        display: grid;
        grid-template-rows: auto 0.5fr;
        grid-gap: 20px;
    }*/
}
@media (max-width: 639px){
    .h2_title{
        font-size: 30px;
    }
    .imgs{
        grid-template-columns: 0.2fr 1.2fr 0.2fr;
    }
    .imgbox{
        grid-gap: 0px;
        grid-template-columns: 1fr 0fr 0fr;
    }
}

